.my-interview { 
    padding: 3%;
    background-color: white;
    margin: 10px;
    box-shadow: -1px 2px 7px -2px rgba(125,123,125,1);

    &__text{
        padding: 40px;
    }

    &__question{

    }

    &__answer{
        
    }
}