.markdown {
    background-color: white;
    padding: 4%;

    a{
        text-decoration: underline;
        color: $primary-color;
    }

    ::selection {
        background: $primary-color; /* WebKit/Blink Browsers */
        color: white;
      }

      h4{
          margin: 4px;
      }

      &__card{
        margin: 1%;
        background-color: white;
        padding: 0.1% 2%;
        box-shadow: -1px 2px 7px -2px rgba(125,123,125,1);
    
        @include tablet{
          padding: 1% 3%;
        }
    
        @include mobile{
          padding: 0.5% 5%;
        }
      }

      &__search-bar {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        margin: 2% 0%;

        input{
            height: 50px;
            width: 98%;
            text-decoration: none;
            font-family: $primary-font;
            text-align: center;
            font-size: 1em;
            box-shadow: -1px 2px 7px -2px rgba(125,123,125,1);
            border: none;

            &:hover {
                box-shadow: -1px 2px 7px -2px rgb(87, 87, 87); 
            }
            &:focus{
                outline: none;
            }
        }
    }
}