/* 
    ==========================================================================================
                                        Common Styles
    ==========================================================================================
*/

$desktop: 800px;

@mixin desktop{
  @media(max-width: #{$desktop}){
    @content;
  }
}



.launch-page {
    background-color: #222222;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;

    @include desktop{
      background-color: white;
    }
    

  &__name{
      animation-name: name;
      animation-duration: 1s;
      animation-fill-mode: forwards;
  }
  
   &__links{
    animation-name: links;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    display: flex;
    flex-direction: row;
  }

  &__link{

    color: white;
    font-size: 2vw;
    font-family: 'Josefin Sans', sans-serif;

    &--seperator{
      color: white;
      font-size: 2vw;
      margin-top: -7px;
      font-weight: 100;
    }
  }
  
}

.name {
  &__letter{
    color: white;
    font-size: 6vw;
    font-family: 'Josefin Sans', sans-serif;

    &--lname{
      font-size: 6vw;
      font-family: "Josefin Sans", sans-serif;
      color: transparent !important;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: rgb(255, 255, 255);
    }
  }
}


/* 
    ==========================================================================================
                                        Desktops with 992px and up
    ==========================================================================================
*/

// @media only screen and (min-width: 992px) {
//     .App {
//         background-color: #222
//       }
//       .name {
//         color: whitesmoke;
//       }
      
//       .link{
//         color: whitesmoke;
//       }
      
//       .links-cont{
//         animation-name: links;
//         animation-duration: 3s;
//         animation-fill-mode: forwards;
//         display: flex;
//         flex-direction: row;
//       }
    
//       .lName{
//         -webkit-text-stroke-width: 1px;
//         -webkit-text-stroke-color: rgb(255, 255, 255);
//       }

//       .name-cont{
//         // animation-name: name;
//         // animation-duration: 3s;
//         // animation-fill-mode: forwards;
//       }
    
//   }


  @keyframes name {
    from {transform :scale(1);}
    to {transform: scale(1.3);}
  }
  
  @keyframes links {
    from {transform :scale(1);}
    to {transform: scale(0.7);}
  }
  
