/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .App {
      background-color: #222
    }
    .name {
      color: whitesmoke;
    }
    
    .link{
      color: whitesmoke;
    }
    
    .links-cont{
      flex-direction: row;
    }
  
    .lName{
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: rgb(255, 255, 255);
    }
    
  } 